body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10744 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10745 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
