body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:826px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:1169px;
}
#u5743 {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:1169px;
}
#u5744 {
  position:absolute;
  left:2px;
  top:576px;
  width:822px;
  visibility:hidden;
  word-wrap:break-word;
}
