body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10854 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10855 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10856 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10857 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10858 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10859 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10860 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10861 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10862 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u10863 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
