body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6350_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6350 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6351 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6352 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6353 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6354 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6355 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6356 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6357 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6358 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u6359 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
