body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u11885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11885 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11886 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11887 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11888 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11889 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11890 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11891 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11892 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11893 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:579px;
}
#u11894 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
