body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5390 {
  position:absolute;
  left:0px;
  top:2143px;
  width:754px;
  height:1066px;
}
#u5391 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5392 {
  position:absolute;
  left:0px;
  top:3214px;
  width:754px;
  height:1066px;
}
#u5393 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5394 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5395 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u5396 {
  position:absolute;
  left:0px;
  top:1072px;
  width:754px;
  height:1066px;
}
#u5397 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
