body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:754px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4578_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u4578 {
  position:absolute;
  left:0px;
  top:2143px;
  width:754px;
  height:1066px;
}
#u4579 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u4580 {
  position:absolute;
  left:0px;
  top:3214px;
  width:754px;
  height:1066px;
}
#u4581 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u4582 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u4583 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4584_img {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:1066px;
}
#u4584 {
  position:absolute;
  left:0px;
  top:1072px;
  width:754px;
  height:1066px;
}
#u4585 {
  position:absolute;
  left:2px;
  top:525px;
  width:750px;
  visibility:hidden;
  word-wrap:break-word;
}
