body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6953 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6954 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:480px;
}
#u6955 {
  position:absolute;
  left:2px;
  top:232px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u6956 {
  position:absolute;
  left:22px;
  top:4px;
  width:36px;
  height:33px;
}
#u6957 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6958 {
  position:absolute;
  left:537px;
  top:20px;
  width:113px;
  height:17px;
}
#u6959 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u6960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u6960 {
  position:absolute;
  left:492px;
  top:47px;
  width:200px;
  height:1px;
}
#u6961 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6962 {
  position:absolute;
  left:165px;
  top:265px;
  width:100px;
  height:16px;
}
#u6963 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u6964 {
  position:absolute;
  left:259px;
  top:194px;
  width:164px;
  height:25px;
}
#u6964_input {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6965 {
  position:absolute;
  left:439px;
  top:265px;
  width:394px;
  height:17px;
}
#u6966 {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  white-space:nowrap;
}
#u6967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6967 {
  position:absolute;
  left:265px;
  top:265px;
  width:164px;
  height:17px;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  word-wrap:break-word;
}
#u6969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6969 {
  position:absolute;
  left:505px;
  top:265px;
  width:76px;
  height:17px;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  word-wrap:break-word;
}
#u6971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6971 {
  position:absolute;
  left:645px;
  top:265px;
  width:114px;
  height:17px;
}
#u6972 {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  word-wrap:break-word;
}
#u6973 {
  position:absolute;
  left:637px;
  top:400px;
  width:140px;
  height:25px;
}
#u6973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6974 {
  position:absolute;
  left:165px;
  top:299px;
  width:827px;
  height:16px;
}
#u6975 {
  position:absolute;
  left:0px;
  top:0px;
  width:827px;
  word-wrap:break-word;
}
#u6976 {
  position:absolute;
  left:696px;
  top:295px;
  width:124px;
  height:25px;
}
#u6976_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6977 {
  position:absolute;
  left:481px;
  top:295px;
  width:119px;
  height:25px;
}
#u6977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6978 {
  position:absolute;
  left:345px;
  top:295px;
  width:65px;
  height:25px;
}
#u6978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6979 {
  position:absolute;
  left:381px;
  top:400px;
  width:140px;
  height:25px;
}
#u6979_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u6980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6980 {
  position:absolute;
  left:168px;
  top:198px;
  width:81px;
  height:17px;
  font-size:13px;
}
#u6981 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u6982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u6982 {
  position:absolute;
  left:168px;
  top:229px;
  width:54px;
  height:17px;
  font-size:13px;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u6984 {
  position:absolute;
  left:259px;
  top:227px;
  width:60px;
  height:22px;
}
#u6984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u6984_input:disabled {
  color:grayText;
}
#u6985 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6986 {
  position:absolute;
  left:246px;
  top:79px;
  width:64px;
  height:64px;
}
#u6987 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u6988 {
  position:absolute;
  left:310px;
  top:111px;
  width:36px;
  height:1px;
}
#u6989 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6990 {
  position:absolute;
  left:346px;
  top:79px;
  width:64px;
  height:64px;
}
#u6991 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u6992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u6992 {
  position:absolute;
  left:410px;
  top:111px;
  width:36px;
  height:1px;
}
#u6993 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6994 {
  position:absolute;
  left:446px;
  top:79px;
  width:64px;
  height:64px;
}
#u6995 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u6996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u6996 {
  position:absolute;
  left:510px;
  top:111px;
  width:36px;
  height:1px;
}
#u6997 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u6998 {
  position:absolute;
  left:546px;
  top:79px;
  width:64px;
  height:64px;
}
#u6999 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u7000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u7000 {
  position:absolute;
  left:610px;
  top:111px;
  width:36px;
  height:1px;
}
#u7001 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7002 {
  position:absolute;
  left:646px;
  top:80px;
  width:64px;
  height:64px;
}
#u7003 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u7004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u7004 {
  position:absolute;
  left:710px;
  top:111px;
  width:36px;
  height:1px;
}
#u7005 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7006 {
  position:absolute;
  left:746px;
  top:80px;
  width:64px;
  height:64px;
}
#u7007 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u7008 {
  position:absolute;
  left:810px;
  top:111px;
  width:36px;
  height:1px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u7010 {
  position:absolute;
  left:846px;
  top:80px;
  width:64px;
  height:64px;
}
#u7011 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
