body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9045 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
}
#u9046 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u9047 {
  position:absolute;
  left:22px;
  top:4px;
  width:36px;
  height:33px;
}
#u9048 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u9049 {
  position:absolute;
  left:526px;
  top:20px;
  width:131px;
  height:17px;
  text-align:center;
}
#u9050 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  white-space:nowrap;
}
#u9051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u9051 {
  position:absolute;
  left:492px;
  top:47px;
  width:200px;
  height:1px;
}
#u9052 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9053 {
  position:absolute;
  left:120px;
  top:80px;
  width:956px;
  height:396px;
}
#u9053_input {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:396px;
}
#u9054 {
  position:absolute;
  left:530px;
  top:515px;
  width:140px;
  height:25px;
}
#u9054_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
