body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10611 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10612_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10612 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
}
#u10613 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u10614 {
  position:absolute;
  left:22px;
  top:4px;
  width:36px;
  height:33px;
}
#u10615 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10616_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10616 {
  position:absolute;
  left:531px;
  top:20px;
  width:113px;
  height:17px;
}
#u10617 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u10618 {
  position:absolute;
  left:492px;
  top:47px;
  width:200px;
  height:1px;
}
#u10619 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10620_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10620 {
  position:absolute;
  left:450px;
  top:212px;
  width:90px;
  height:128px;
}
#u10621 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u10622 {
  position:absolute;
  left:636px;
  top:438px;
  width:140px;
  height:25px;
}
#u10622_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10623 {
  position:absolute;
  left:380px;
  top:438px;
  width:140px;
  height:25px;
}
#u10623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10624 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10625 {
  position:absolute;
  left:246px;
  top:74px;
  width:64px;
  height:64px;
}
#u10626 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10627 {
  position:absolute;
  left:310px;
  top:106px;
  width:36px;
  height:1px;
}
#u10628 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10629 {
  position:absolute;
  left:346px;
  top:74px;
  width:64px;
  height:64px;
}
#u10630 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10631 {
  position:absolute;
  left:410px;
  top:106px;
  width:36px;
  height:1px;
}
#u10632 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10633 {
  position:absolute;
  left:446px;
  top:74px;
  width:64px;
  height:64px;
}
#u10634 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10635 {
  position:absolute;
  left:510px;
  top:106px;
  width:36px;
  height:1px;
}
#u10636 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10637 {
  position:absolute;
  left:546px;
  top:74px;
  width:64px;
  height:64px;
}
#u10638 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10639 {
  position:absolute;
  left:610px;
  top:106px;
  width:36px;
  height:1px;
}
#u10640 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10641 {
  position:absolute;
  left:646px;
  top:75px;
  width:64px;
  height:64px;
}
#u10642 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10643 {
  position:absolute;
  left:710px;
  top:106px;
  width:36px;
  height:1px;
}
#u10644 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10645 {
  position:absolute;
  left:746px;
  top:75px;
  width:64px;
  height:64px;
}
#u10646 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10647 {
  position:absolute;
  left:810px;
  top:106px;
  width:36px;
  height:1px;
}
#u10648 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10649 {
  position:absolute;
  left:846px;
  top:75px;
  width:64px;
  height:64px;
}
#u10650 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:128px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10651 {
  position:absolute;
  left:550px;
  top:212px;
  width:110px;
  height:128px;
}
#u10652 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u10653 {
  position:absolute;
  left:626px;
  top:304px;
  width:74px;
  height:22px;
}
#u10653_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10654 {
  position:absolute;
  left:584px;
  top:239px;
  width:36px;
  height:25px;
}
#u10654_input {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10655 {
  position:absolute;
  left:550px;
  top:272px;
  width:39px;
  height:25px;
}
#u10655_input {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:210px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10657 {
  position:absolute;
  left:270px;
  top:210px;
  width:640px;
  height:210px;
}
#u10658 {
  position:absolute;
  left:2px;
  top:97px;
  width:636px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10659 {
  position:absolute;
  left:580px;
  top:220px;
  width:57px;
  height:17px;
}
#u10660 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  height:83px;
}
#u10661 {
  position:absolute;
  left:302px;
  top:260px;
  width:588px;
  height:83px;
  font-size:14px;
}
#u10662 {
  position:absolute;
  left:0px;
  top:0px;
  width:588px;
  word-wrap:break-word;
}
#u10663 {
  position:absolute;
  left:281px;
  top:260px;
  width:100px;
  height:16px;
}
#u10664 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10663_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10665 {
  position:absolute;
  left:281px;
  top:292px;
  width:100px;
  height:16px;
}
#u10666 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10665_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10667 {
  position:absolute;
  left:281px;
  top:326px;
  width:100px;
  height:16px;
}
#u10668 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u10669 {
  position:absolute;
  left:350px;
  top:257px;
  width:49px;
  height:25px;
}
#u10669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10670 {
  position:absolute;
  left:364px;
  top:327px;
  width:490px;
  height:25px;
}
#u10670_input {
  position:absolute;
  left:0px;
  top:0px;
  width:490px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10671 {
  position:absolute;
  left:459px;
  top:289px;
  width:51px;
  height:25px;
}
#u10671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10672 {
  position:absolute;
  left:539px;
  top:375px;
  width:140px;
  height:25px;
}
#u10672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10673 {
  position:absolute;
  left:878px;
  top:217px;
  width:20px;
  height:20px;
}
#u10674 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10675 {
  position:absolute;
  left:550px;
  top:212px;
  width:205px;
  height:22px;
}
#u10675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u10675_input:disabled {
  color:grayText;
}
