body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7033 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7034 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:580px;
}
#u7035 {
  position:absolute;
  left:2px;
  top:282px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u7036 {
  position:absolute;
  left:22px;
  top:4px;
  width:36px;
  height:33px;
}
#u7037 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u7038 {
  position:absolute;
  left:549px;
  top:20px;
  width:85px;
  height:17px;
  text-align:center;
}
#u7039 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u7040 {
  position:absolute;
  left:492px;
  top:47px;
  width:200px;
  height:1px;
}
#u7041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7043 {
  position:absolute;
  left:257px;
  top:224px;
  width:57px;
  height:17px;
}
#u7044 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7045 {
  position:absolute;
  left:257px;
  top:79px;
  width:85px;
  height:17px;
}
#u7046 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u7047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7047 {
  position:absolute;
  left:257px;
  top:112px;
  width:57px;
  height:17px;
}
#u7048 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7049 {
  position:absolute;
  left:257px;
  top:306px;
  width:57px;
  height:17px;
}
#u7050 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7051 {
  position:absolute;
  left:257px;
  top:337px;
  width:57px;
  height:17px;
}
#u7052 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7053 {
  position:absolute;
  left:358px;
  top:112px;
  width:569px;
  height:16px;
}
#u7054 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u7055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7055 {
  position:absolute;
  left:358px;
  top:145px;
  width:569px;
  height:16px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u7057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7057 {
  position:absolute;
  left:358px;
  top:181px;
  width:569px;
  height:16px;
}
#u7058 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  word-wrap:break-word;
}
#u7059 {
  position:absolute;
  left:358px;
  top:337px;
  width:569px;
  height:82px;
}
#u7059_input {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:82px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7060 {
  position:absolute;
  left:358px;
  top:75px;
  width:160px;
  height:25px;
}
#u7060_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7061 {
  position:absolute;
  left:458px;
  top:108px;
  width:60px;
  height:25px;
}
#u7061_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7062 {
  position:absolute;
  left:458px;
  top:141px;
  width:60px;
  height:25px;
}
#u7062_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7063 {
  position:absolute;
  left:458px;
  top:172px;
  width:60px;
  height:25px;
}
#u7063_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7064 {
  position:absolute;
  left:618px;
  top:108px;
  width:74px;
  height:25px;
}
#u7064_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7065 {
  position:absolute;
  left:618px;
  top:143px;
  width:74px;
  height:25px;
}
#u7065_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7066 {
  position:absolute;
  left:618px;
  top:178px;
  width:74px;
  height:25px;
}
#u7066_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7067 {
  position:absolute;
  left:792px;
  top:112px;
  width:57px;
  height:17px;
}
#u7068 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u7069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:27px;
}
#u7069 {
  position:absolute;
  left:475px;
  top:301px;
  width:23px;
  height:27px;
}
#u7070 {
  position:absolute;
  left:2px;
  top:6px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7071 {
  position:absolute;
  left:358px;
  top:306px;
  width:113px;
  height:17px;
}
#u7072 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u7073 {
  position:absolute;
  left:498px;
  top:221px;
  width:140px;
  height:25px;
}
#u7073_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7074 {
  position:absolute;
  left:358px;
  top:222px;
  width:120px;
  height:22px;
}
#u7074_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u7074_input:disabled {
  color:grayText;
}
#u7075 {
  position:absolute;
  left:464px;
  top:452px;
  width:140px;
  height:25px;
}
#u7075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u7076 {
  position:absolute;
  left:647px;
  top:452px;
  width:140px;
  height:25px;
}
#u7076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
