body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1184px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u135 {
  position:absolute;
  left:256px;
  top:0px;
  width:1184px;
  height:64px;
}
#u136 {
  position:absolute;
  left:2px;
  top:24px;
  width:1180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:15px;
}
#u137 {
  position:absolute;
  left:284px;
  top:25px;
  width:20px;
  height:15px;
}
#u138 {
  position:absolute;
  left:2px;
  top:0px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u140 {
  position:absolute;
  left:1317px;
  top:21px;
  width:24px;
  height:24px;
}
#u141 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u142 {
  position:absolute;
  left:1349px;
  top:22px;
  width:47px;
  height:22px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  white-space:nowrap;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:21px;
}
#u144 {
  position:absolute;
  left:1277px;
  top:22px;
  width:16px;
  height:21px;
}
#u145 {
  position:absolute;
  left:2px;
  top:2px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:19px;
}
#u146 {
  position:absolute;
  left:1235px;
  top:23px;
  width:18px;
  height:19px;
}
#u147 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:66px;
}
#u148 {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:65px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#1ABC9C;
  text-align:left;
  line-height:26px;
}
#u149 {
  position:absolute;
  left:68px;
  top:20px;
  width:188px;
  word-wrap:break-word;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u150 {
  position:absolute;
  left:24px;
  top:16px;
  width:32px;
  height:32px;
}
#u151 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:22px;
}
#u152 {
  position:absolute;
  left:325px;
  top:22px;
  width:43px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u153 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:8px;
}
#u154 {
  position:absolute;
  left:377px;
  top:28px;
  width:14px;
  height:8px;
  color:#999999;
}
#u155 {
  position:absolute;
  left:2px;
  top:-4px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
