body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8388 {
  position:absolute;
  left:25px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8389 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8390 {
  position:absolute;
  left:25px;
  top:1095px;
  width:775px;
  height:1095px;
}
#u8391 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8392 {
  position:absolute;
  left:25px;
  top:2195px;
  width:775px;
  height:1095px;
}
#u8393 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8394 {
  position:absolute;
  left:25px;
  top:3295px;
  width:775px;
  height:1095px;
}
#u8395 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8396 {
  position:absolute;
  left:25px;
  top:4395px;
  width:775px;
  height:1095px;
}
#u8397 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8398 {
  position:absolute;
  left:25px;
  top:5495px;
  width:775px;
  height:1095px;
}
#u8399 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8400 {
  position:absolute;
  left:0px;
  top:6590px;
  width:775px;
  height:1095px;
}
#u8401 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8402 {
  position:absolute;
  left:25px;
  top:7689px;
  width:775px;
  height:1095px;
}
#u8403 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u8404 {
  position:absolute;
  left:25px;
  top:8790px;
  width:775px;
  height:1095px;
}
#u8405 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
