body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9470 {
  position:absolute;
  left:25px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9471 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9472 {
  position:absolute;
  left:25px;
  top:1095px;
  width:775px;
  height:1095px;
}
#u9473 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9474 {
  position:absolute;
  left:25px;
  top:2195px;
  width:775px;
  height:1095px;
}
#u9475 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9476 {
  position:absolute;
  left:25px;
  top:3295px;
  width:775px;
  height:1095px;
}
#u9477 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9478_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9478 {
  position:absolute;
  left:25px;
  top:4395px;
  width:775px;
  height:1095px;
}
#u9479 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9480 {
  position:absolute;
  left:25px;
  top:5495px;
  width:775px;
  height:1095px;
}
#u9481 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9482_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9482 {
  position:absolute;
  left:0px;
  top:6590px;
  width:775px;
  height:1095px;
}
#u9483 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9484_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9484 {
  position:absolute;
  left:25px;
  top:7689px;
  width:775px;
  height:1095px;
}
#u9485 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:775px;
  height:1095px;
}
#u9486 {
  position:absolute;
  left:25px;
  top:8790px;
  width:775px;
  height:1095px;
}
#u9487 {
  position:absolute;
  left:2px;
  top:540px;
  width:771px;
  visibility:hidden;
  word-wrap:break-word;
}
