body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10754 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:680px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10755 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:680px;
}
#u10756 {
  position:absolute;
  left:2px;
  top:332px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:39px;
}
#u10757 {
  position:absolute;
  left:22px;
  top:5px;
  width:36px;
  height:39px;
}
#u10758 {
  position:absolute;
  left:2px;
  top:12px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u10759 {
  position:absolute;
  left:535px;
  top:23px;
  width:113px;
  height:17px;
  text-align:center;
}
#u10760 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u10761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u10761 {
  position:absolute;
  left:492px;
  top:51px;
  width:200px;
  height:1px;
}
#u10762 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10763_div {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:238px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10763 {
  position:absolute;
  left:180px;
  top:155px;
  width:770px;
  height:238px;
}
#u10764 {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  word-wrap:break-word;
}
#u10765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10765 {
  position:absolute;
  left:224px;
  top:393px;
  width:57px;
  height:17px;
}
#u10766 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u10767 {
  position:absolute;
  left:224px;
  top:420px;
  width:656px;
  height:80px;
}
#u10767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:80px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u10768 {
  position:absolute;
  left:424px;
  top:580px;
  width:140px;
  height:25px;
}
#u10768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10769 {
  position:absolute;
  left:636px;
  top:580px;
  width:140px;
  height:25px;
}
#u10769_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10770 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10771 {
  position:absolute;
  left:260px;
  top:66px;
  width:64px;
  height:64px;
}
#u10772 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10773_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10773 {
  position:absolute;
  left:324px;
  top:98px;
  width:36px;
  height:1px;
}
#u10774 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10775 {
  position:absolute;
  left:360px;
  top:66px;
  width:64px;
  height:64px;
}
#u10776 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10777 {
  position:absolute;
  left:424px;
  top:98px;
  width:36px;
  height:1px;
}
#u10778 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10779_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10779 {
  position:absolute;
  left:460px;
  top:66px;
  width:64px;
  height:64px;
}
#u10780 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10781 {
  position:absolute;
  left:524px;
  top:98px;
  width:36px;
  height:1px;
}
#u10782 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10783 {
  position:absolute;
  left:560px;
  top:66px;
  width:64px;
  height:64px;
}
#u10784 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10785 {
  position:absolute;
  left:624px;
  top:98px;
  width:36px;
  height:1px;
}
#u10786 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10787 {
  position:absolute;
  left:660px;
  top:67px;
  width:64px;
  height:64px;
}
#u10788 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10789 {
  position:absolute;
  left:724px;
  top:98px;
  width:36px;
  height:1px;
}
#u10790 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10791 {
  position:absolute;
  left:760px;
  top:67px;
  width:64px;
  height:64px;
}
#u10792 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:2px;
}
#u10793 {
  position:absolute;
  left:824px;
  top:98px;
  width:36px;
  height:1px;
}
#u10794 {
  position:absolute;
  left:2px;
  top:-8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:64px;
}
#u10795 {
  position:absolute;
  left:860px;
  top:67px;
  width:64px;
  height:64px;
}
#u10796 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  word-wrap:break-word;
}
#u10797 {
  position:absolute;
  left:312px;
  top:153px;
  width:58px;
  height:20px;
}
#u10797_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10798 {
  position:absolute;
  left:340px;
  top:216px;
  width:58px;
  height:20px;
}
#u10798_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10799 {
  position:absolute;
  left:336px;
  top:280px;
  width:58px;
  height:20px;
}
#u10799_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u10800 {
  position:absolute;
  left:388px;
  top:345px;
  width:58px;
  height:20px;
}
#u10800_input {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
