body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:4783px;
}
#u9466 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:4783px;
}
#u9467 {
  position:absolute;
  left:2px;
  top:2384px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
