body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12643_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12643 {
  position:absolute;
  left:100px;
  top:70px;
  width:109px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u12644 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u12645 {
  position:absolute;
  left:100px;
  top:150px;
  width:415px;
  height:95px;
}
#u12646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12646 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12647 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u12648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12648 {
  position:absolute;
  left:137px;
  top:0px;
  width:137px;
  height:30px;
}
#u12649 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u12650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u12650 {
  position:absolute;
  left:274px;
  top:0px;
  width:136px;
  height:30px;
}
#u12651 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u12652_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12652 {
  position:absolute;
  left:0px;
  top:30px;
  width:137px;
  height:30px;
}
#u12653 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u12654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12654 {
  position:absolute;
  left:137px;
  top:30px;
  width:137px;
  height:30px;
}
#u12655 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u12656_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u12656 {
  position:absolute;
  left:274px;
  top:30px;
  width:136px;
  height:30px;
  text-decoration:underline;
}
#u12657 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u12658_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12658 {
  position:absolute;
  left:0px;
  top:60px;
  width:137px;
  height:30px;
}
#u12659 {
  position:absolute;
  left:2px;
  top:8px;
  width:133px;
  word-wrap:break-word;
}
#u12660_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:30px;
}
#u12660 {
  position:absolute;
  left:137px;
  top:60px;
  width:137px;
  height:30px;
}
#u12661 {
  position:absolute;
  left:2px;
  top:6px;
  width:133px;
  word-wrap:break-word;
}
#u12662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:30px;
}
#u12662 {
  position:absolute;
  left:274px;
  top:60px;
  width:136px;
  height:30px;
  text-decoration:underline;
}
#u12663 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u12664 {
  position:absolute;
  left:100px;
  top:102px;
  width:140px;
  height:25px;
}
#u12664_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12665 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u12666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12666 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:480px;
}
#u12667 {
  position:absolute;
  left:2px;
  top:232px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12668_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u12668 {
  position:absolute;
  left:22px;
  top:4px;
  width:36px;
  height:33px;
}
#u12669 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u12670 {
  position:absolute;
  left:554px;
  top:20px;
  width:85px;
  height:17px;
  text-align:center;
}
#u12671 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u12672 {
  position:absolute;
  left:492px;
  top:47px;
  width:200px;
  height:1px;
}
#u12673 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12674 {
  position:absolute;
  left:450px;
  top:88px;
  width:300px;
  height:112px;
}
#u12675 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u12676 {
  position:absolute;
  left:506px;
  top:83px;
  width:154px;
  height:25px;
}
#u12676_input {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12677 {
  position:absolute;
  left:506px;
  top:115px;
  width:265px;
  height:25px;
}
#u12677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12678 {
  position:absolute;
  left:506px;
  top:181px;
  width:94px;
  height:22px;
}
#u12678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u12678_input:disabled {
  color:grayText;
}
#u12679 {
  position:absolute;
  left:606px;
  top:223px;
  width:100px;
  height:18px;
}
#u12680 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12679_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12681 {
  position:absolute;
  left:699px;
  top:223px;
  width:100px;
  height:18px;
}
#u12682 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12681_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12683 {
  position:absolute;
  left:506px;
  top:223px;
  width:100px;
  height:160px;
}
#u12684 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u12685 {
  position:absolute;
  left:606px;
  top:254px;
  width:100px;
  height:18px;
}
#u12686 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12685_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12687 {
  position:absolute;
  left:699px;
  top:254px;
  width:100px;
  height:18px;
}
#u12688 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12687_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12689 {
  position:absolute;
  left:606px;
  top:286px;
  width:100px;
  height:18px;
}
#u12690 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12691 {
  position:absolute;
  left:699px;
  top:286px;
  width:100px;
  height:18px;
}
#u12692 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12691_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12693 {
  position:absolute;
  left:606px;
  top:318px;
  width:100px;
  height:18px;
}
#u12694 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12693_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12695 {
  position:absolute;
  left:699px;
  top:318px;
  width:100px;
  height:18px;
}
#u12696 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12695_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12697 {
  position:absolute;
  left:606px;
  top:352px;
  width:100px;
  height:18px;
}
#u12698 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12697_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12699 {
  position:absolute;
  left:699px;
  top:352px;
  width:100px;
  height:18px;
}
#u12700 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u12699_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u12701 {
  position:absolute;
  left:659px;
  top:415px;
  width:140px;
  height:25px;
}
#u12701_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u12702 {
  position:absolute;
  left:443px;
  top:415px;
  width:140px;
  height:25px;
}
#u12702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
